.icon-bars {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon-bars-cursorDefault {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  cursor: default;
}

.icon-bars-light:hover {
  background-color: #f0f2f5;
}

.icon-bars-light-hover {
  background-color: #f0f2f5;
}

.icon-bars-dark:hover {
  background-color: rgb(43, 43, 43, 1);
}

.icon-bars-dark-hover {
  background-color: rgb(43, 43, 43, 1);
}
